src/filters/mapping_file_parser/resource/suntrans-mapping-file.dtd

<!-- This is a development version of the transtech
     suntrans mapping file format -->

<!ELEMENT suntrans-mapping-file  (mapping)* >
<!ATTLIST suntrans-mapping-file
  version          CDATA              #FIXED "1.0"
>

<!ELEMENT mapping  (source, target) >

<!ELEMENT source  (#PCDATA) >

<!ELEMENT target  (#PCDATA) >

