dtd/tmattribs.dtd

<!ELEMENT tmattribs (attribset)+ >

<!ELEMENT attribset (fileidentifier?, subjectarea?, projectid?, workspacebuild?, module?, shortbookname?, partno? ) >

<!ELEMENT fileidentifier (#PCDATA) >
<!ELEMENT subjectarea (#PCDATA) >
<!ELEMENT projectid (#PCDATA) >
<!ELEMENT workspacebuild (#PCDATA) >
<!ELEMENT module (#PCDATA) >
<!ELEMENT shortbookname (#PCDATA) >
<!ELEMENT partno (#PCDATA) >

