external/resources/dtd/aml10.dtd

<!-- SKELETON (indicate the sequence of the segment in the TMX file)

Design Nov-20-2002 by Charles.Liu

Note: many tags are defined as the same as the TMX file

<!ENTITY  lt   "&#38;#60;" >
<!ENTITY  amp  "&#38;#38;" >
<!ENTITY  gt   "&#62;" >
<!ENTITY  apos "&#39;" >
<!ENTITY  quot "&#34;" >

======================================================================= -->

<!ENTITY % segtypes    "block|paragraph|sentence|phrase" >


<!--     ELEM                CONTENT                -->
<!--     ATTR
         NAME                TYPE           DEFAULT -->


<!-- Base Document Element -->
   <!ELEMENT aml             (header, body) >
   <!ATTLIST aml
         version             CDATA          #FIXED "1.0" >

<!-- Header -->
   <!ELEMENT header          (note|prop)* >
   <!ATTLIST header
         creationtool        CDATA          #REQUIRED
         creationtoolversion CDATA          #REQUIRED
         segtype             (%segtypes;)   #REQUIRED
         o-tmf               CDATA          #REQUIRED
         adminlang           CDATA          #REQUIRED
         srclang             CDATA          #REQUIRED
         trglang             CDATA          #REQUIRED
         datatype            CDATA          #REQUIRED
         o-encoding          CDATA          #IMPLIED
         creationdate        CDATA          #IMPLIED
         creationid          CDATA          #IMPLIED
         changedate          CDATA          #IMPLIED
         changeid            CDATA          #IMPLIED >

<!-- Body -->
   <!ELEMENT body            (aligned|unaligned)* >
   <!-- No attributes            -->

<!-- Note -->
   <!ELEMENT note            (#PCDATA) >
   <!ATTLIST note
         o-encoding          CDATA          #IMPLIED
         xml:lang            CDATA          #IMPLIED >

<!-- Property -->
   <!ELEMENT prop            (#PCDATA) >
   <!ATTLIST prop
         type                CDATA          #REQUIRED
         xml:lang            CDATA          #IMPLIED
         o-encoding          CDATA          #IMPLIED >

<!-- Alignment Unit -->
   <!ELEMENT aligned         (src|trg)* >
   <!ATTLIST aligned
         id                  CDATA          #IMPLIED >

<!-- None Alignment Unit -->
   <!ELEMENT unaligned       (src|trg) >
   <!ATTLIST unaligned
         id                  CDATA          #IMPLIED >


<!-- Alignment or None-alignment Unit Variant -->
   <!ELEMENT src             ((note|prop)*, seg) >
   <!ATTLIST src
         pos                 CDATA          #REQUIRED
         index               CDATA          #IMPLIED
         total               CDATA          #IMPLIED >

   <!ELEMENT trg             ((note|prop)*, seg) >
   <!ATTLIST trg
         pos                 CDATA          #REQUIRED
         index               CDATA          #IMPLIED
         total               CDATA          #IMPLIED >

<!-- Text -->
   <!ELEMENT seg             (#PCDATA|bpt|ept|ph|it|hi|ut)* >


<!-- Content Markup ================================================== -->

   <!ELEMENT bpt             (#PCDATA|sub)* >
   <!ATTLIST bpt
          i                  CDATA          #REQUIRED
          x                  CDATA          #IMPLIED
          type               CDATA          #IMPLIED >

   <!ELEMENT ept             (#PCDATA|sub)* >
   <!ATTLIST ept
          i                  CDATA          #REQUIRED >

   <!ELEMENT sub             (#PCDATA|bpt|ept|it|ph|hi|ut)* >
   <!ATTLIST sub
         datatype            CDATA          #IMPLIED
         type                CDATA          #IMPLIED >

   <!ELEMENT it              (#PCDATA|sub)* >
   <!ATTLIST it
          pos                (begin|end)    #REQUIRED
          x                  CDATA          #IMPLIED
          type               CDATA          #IMPLIED >

   <!ELEMENT ph              (#PCDATA|sub)* >
   <!ATTLIST ph
          x                  CDATA          #IMPLIED
          assoc              CDATA          #IMPLIED
          type               CDATA          #IMPLIED >

   <!ELEMENT hi              (#PCDATA|bpt|ept|it|ph|hi|ut)* >
   <!ATTLIST hi
          x                  CDATA          #IMPLIED
          type               CDATA          #IMPLIED >


   <!-- The <ut> element is deprecated -->

   <!ELEMENT ut              (#PCDATA|sub)* >
   <!ATTLIST ut
          x                  CDATA          #IMPLIED >


<!-- End -->


