external/resources/dtd/minitm.dtd

<?xml version='1.0' encoding='UTF-8'?>
<!-- Element holding the ID of the translator that added 
     the segment to the mini TM. -->
<!ELEMENT translatorId (#PCDATA)>

<!-- Element holding the transltion of the source. -->
<!ELEMENT translation (#PCDATA)>

<!-- Element holdingthe source text. -->
<!ELEMENT source (#PCDATA)>

<!-- An entry. -->
<!ELEMENT entry (source,translation,translatorId)>

<!-- The root element. -->
<!ELEMENT minitm (entry)*>
<!ATTLIST minitm
    tgtlang CDATA #IMPLIED
    srclang CDATA #IMPLIED
    name CDATA #IMPLIED
  >
