external/resources/dtd/tmattribs.dtd

<!ELEMENT tmattribs (attribset)+ >

<!ELEMENT attribset (fileidentifier?, subjectarea?, projectid?, workspacebuild?, module?, shortbookname?, partno?, exclude? ) >

<!ELEMENT fileidentifier (#PCDATA) >
<!ELEMENT subjectarea (#PCDATA) >
<!ELEMENT projectid (#PCDATA) >
<!ELEMENT workspacebuild (#PCDATA) >
<!ELEMENT module (#PCDATA) >
<!ELEMENT shortbookname (#PCDATA) >
<!ELEMENT partno (#PCDATA) >
<!-- optional set of excludable identifiers -->
<!-- for now, subjectarea is allowed, but we can -->
<!-- have one or more subject area entries  -->
<!ELEMENT exclude (subjectarea+)>
